
.base64_btn {
  width: 80px;
  margin: .5rem 1rem .5rem 0 ;
}

.base64-container {
  text-align: left;
}

.base64_input {
  width: 66%;
}

.morse-container textarea {
  width: 66%;
  padding: .5rem;
  margin: .5rem 0;
  height: 4rem;
}