
.bc_btn {
  margin-left: 2rem;
  width: 80px;
}

.bc-container{
  text-align: left;
}

.bc_input {
  margin-left: .5rem;
  width: 160px;
}

.bc-result {
  width: 66%;
}

.res-tab {
  text-align: center;
  width: 100%;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
}

.res-tab td {
  width: 50%;
  padding: 0 1rem;
  border-left:1px solid #ccc;
  border-top:1px solid #ccc
}
