.md5-btn{
  padding: 5px 10px;
  width: 80px;
  border: none;
  border-radius: 3px;
  background-color: #00a3cf;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.md5-container {
  text-align: left;
}

.md5-container textarea {
  width: 66%;
  height: 4rem;
  padding: .5rem;
  margin: .5rem 0;
}

.md5-result {
  padding: .5rem;
  width: 66%;
  height: 4rem;
  border: 1px solid #ccc;
}
