.toDay-btn {
  margin: 0 2rem;
  padding: 5px 10px;
  width: 80px;
  border: none;
  border-radius: 3px;
  background-color: #00a3cf;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.toDate-btn {
  margin: 0 2rem;
  padding: 5px 10px;
  width: 80px;
  border: none;
  border-radius: 3px;
  background-color: #00a3cf;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.datec-container{
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.date-input,.day-input {
  margin-left: .5rem;
}

.date-result, .day-result {
  width: 150px;
  margin-right: .5rem;
  border: 1px solid #ccc;
}

.date-wrap,.now-time {
  margin-bottom: 1rem;
  display: flex;
}
