.datec-btn {
  margin-left: 2rem;
  padding: 5px 10px;
  width: 80px;
  border: none;
  border-radius: 3px;
  background-color: #00a3cf;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.datec-container{
  text-align: left;
}

.datec-input {
  margin-left: .5rem;
}

ul.list-group {
  text-align: left;
  margin:0 auto;
  margin-bottom:10px;
  border:solid #ccc;
}

li.list-group-item {
  padding:10px;
  margin:0;
  border-width:1px
}

.datec-result {
  width: 66%;
}