
.toDay_btn {
  margin: 0 2rem;
  width: 80px;
}

.toDate_btn {
  margin: 0 2rem;
  width: 80px;
}


.datec-container{
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.date_input,.day_input {
  width: 160px;
  margin-left: .5rem;
}

.date-result, .day-result {
  width: 150px;
  margin-right: .5rem;
  border: 1px solid #ccc;
}

.date-wrap,.now-time {
  margin-bottom: 1rem;
  display: flex;
}
