.btn{
  padding: 5px 10px;
  width: 80px;
  border: none;
  border-radius: 3px;
  background-color: #00a3cf;
  color: #fff;
  outline: none;
  cursor: pointer;
}


ol.list-group{
  width: 50%;
  text-align: center;
  margin:0 auto;
  margin-bottom:10px;
  border:1px solid #ccc;
  border-width:0
}

li.list-group-item{
  list-style-type:none;
  padding:10px;
  margin:0;
  border:1px solid #ccc;
  border-width:1px
}

.t{
  width: 50%;
  margin:0 auto;
}