.btn{
  padding: 5px 10px;
  width: 80px;
  border: none;
  border-radius: 3px;
  background-color: #00a3cf;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.main {
  position: absolute;
  top:25%;
  left:25%;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  background-color: #fbfbfb;
}


.t{
  width: 50%;
  margin:0 auto;
}

.result{
  padding: 0 10px 0 10px;
  margin:0;
  border:1px solid #ccc;
  border-width:1px
}