.btn{
  padding: 5px 10px;
  width: 80px;
  border: none;
  border-radius: 3px;
  background-color: #00a3cf;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.t{
  width: 50%;
  margin:0 auto;
}

.result{
  padding: 0 10px 0 10px;
  margin:0;
  border:1px solid #ccc;
  border-width:1px
}