
.morse_btn {
  width: 80px;
}

.morse-container textarea {
  width: 66%;
  padding: .5rem;
  margin: .5rem 0;
  height: 4rem;
}

.morse-container {
  text-align: left;
}

.morse-result {
  padding: .5rem;
  width: 66%;
  height: 4rem;
  border: 1px solid #ccc;
}
